MoinDesktop/Service References/MoinWSRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoinClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoinClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customers" nillable="true" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomers" nillable="true" type="tns:ArrayOfCustomers" />
  <xs:complexType name="Customers">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MoinClassesBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customers" nillable="true" type="tns:Customers" />
  <xs:complexType name="MoinClassesBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="RID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowState" type="tns:MoinRowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoinClassesBase" nillable="true" type="tns:MoinClassesBase" />
  <xs:simpleType name="MoinRowState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoinRowState" nillable="true" type="tns:MoinRowState" />
</xs:schema>